body {
  margin: 0;
  height: 100%;
  width: 100%;
  font: 14px/125% "Helvetica Neue", sans-serif;
}

#fig {
  margin: auto;
  width: 800px;
  height: 860px;
}

#popupData {
  position: absolute;
  visibility: hidden;
  background-color: #ccc;
  border: 1px solid #000;
  padding: 7px;
  width: 145px;
  font-size: 8pt;
  z-index:100;
}

#titleDescription {
  width: 910px;
  height: 20px;	
  margin: auto;
  font-size: 16pt;
  padding-top: 30px;
}


#close a {
  float: right;
  font-weight: bold;
  text-decoration: none;
}

#titlePopupDiv {
  font-weight: bold;
}
