body {
  margin: 0;
  height: 100%;
  width: 100%;
  font: 14px/125% "Helvetica Neue", sans-serif;
	background-color: #ccc;
}

#visTitle {
	width: 1261px;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	font: 16pt "Helvetica Neue", sans-serif;
	font-weight: bold;
	padding: 15px;
	background-color: #eee;
}

#container {
	width: 1292px;
}

/* Hover popup styling */
#popupData {
  position: absolute;
  visibility: hidden;
  background-color: #ccc;
  border: 1px solid #000;
  padding: 7px;
  width: 145px;
  font-size: 8pt;
  z-index:100;
}

#titlePopupDiv {
  font-weight: bold;
}

/* Three main panels */
#leftPanel {
	float: left;
	width: 200px;
	height: 730px;
	padding: 0 15px 15px 15px;
	background-color: white;
	border-bottom: 1px solid gray;
}

#fig {
	float: left;
  width: 800px;
  height: 730px;
	padding: 0 15px 15px 15px;
	background-color: white;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

#rightPanel {
	float: left;
	width: 200px;
	height: 730px;
	padding: 0 15px 15px 15px;
	background-color: #eee;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	font-size: 10pt;
}

/* titles in the left panel */
.mapTitle {
	position: absolute;
  width: 200px;
  
  vertical-align: middle;
  
  padding: 0;
  margin: 0;
	
  font-size: 12pt;
  line-height: 1.1em;
  font-weight: bold;
}

.line1 {
	width: 200px;
}

.line2 {
	width: 200px;
	padding: 10px 0;
}

.line3 {
	width: 200px;
}

#geoTitle {
	top: 75px;
}

#treeTitle {
	top: 485px;
}

/* titles in the right panel */
h1 {
	font-size: 12pt;
}

#designers {
	padding-top: 10px;
	font-size: 8pt;
	color: gray;
	text-align: right;
}
